/* header offset */
$header-offset: 72px;

/* Breakpoints */
$nav-breakpoint: 1070px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1920px;

/* colors */
$main: #008a5a;
$main-dark: #2d6451;
$main-light: #c0e5d3;
$main-extra-light: #fbfaf7;
//$secondary: #00758a;
// $secondary-light: #7e89c4;
$secondary-extra-light: #cfdee3;
// $secondary-dark: #00758a;
$secondary-extra-dark: #0b0b20;
$text-light: #fefdfa;
$text-dark: #211f1c;

/* fonts */

$font-primary: 'Poppins', sans-serif;
$font-primary-header: 'Josefin Sans', sans-serif;

/* font sizes */
$font-size-0: 48px;
$font-size-1: 40px;
$font-size-2: 28px;
$font-size-3: 24px;
$font-size-4: 20px;
$font-size-5: 18px;
$font-size-6: 16px;
$font-size-7: 14px;
