/* header offset */
$header-offset: 72px;

/* Breakpoints */
$nav-breakpoint: 1070px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1920px;

/* colors */
$main: #008a5a;
$main-dark: #015938;
$main-light: #c0e5d3;
$main-extra-light: #e5f5ed;
$secondary: #4956ab;
$secondary-light: #7e89c4;
$secondary-dark: #3a4495;
$secondary-extra-dark: #0b0b20;
$text-light: #f7f7f7;
$text-dark: #1d1d1d;

/* fonts */
$font-primary: 'Poppins', sans-serif;
$font-primary-header: 'Lato', sans-serif;

/* font sizes */
$font-size-0: 48px;
$font-size-1: 40px;
$font-size-2: 28px;
$font-size-3: 24px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 14px;
$font-size-7: 13px;
